{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="exampleFormControlFile1">Please attach your files</label>
                <input type="file" class="form-control-file" name="file1" id="exampleFormControlFile1">
                <input type="file" class="form-control-file" name="file2" id="exampleFormControlFile1">
            </div>
             <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="algorithm" type="radio" value="lines">
                    Compare lines
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="algorithm" type="radio" value="sentences">
                    Compare sentences
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="algorithm" type="radio" value="substrings">
                    Compare substrings
                    <input class="form-control form-control-sm" min="1" name="length" placeholder="of length n" type="number">
                </label>
            </div>
            <button class="btn btn-primary" type="submit">Compare</button>
         </form>
     </div>

{% endblock %}
