{% extends "layout.html" %}

{% block body %}
    <h1>Sheet</h1>
    <ul>
        {% for x in poeple %}
            <li>
               <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">House</th>
                  <th scope="col">Position</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">{{ x }}</th>
                  <td>{{ x["name"] }}</td>
                  <td>{{ x["house"] }}</td>
                  <td>{{ x["position"] }}</td>
                </tr>
                </tbody>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
